<p id="notice"><%= notice %></p>
<% if logged_in? %>
<h1>Settings</h1>

<table>
  <thead>
    <tr>
      <th>Blog title</th>
      <th>Blog sub title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @settings.order(date: :desc).each do |setting| %>
      <tr>
        <td><%= setting.blog_title %></td>
        <td><%= setting.blog_sub_title %></td>
        <td><%= link_to 'Edit', edit_setting_path(setting) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% else %>
<%#  TODO: redirect to 404 %>
<% end %>
