<h1>Posts list</h1>

<div>
  <%= render 'follow_form' if logged_in? %>
  <% if Post.any? %>
    <h3>posts (<%= Post.count %>)</h3>
    <ol>
      <%= render 'post' %>
    </ol>
    <%# <%= will_paginate @posts %> %>
  <% else %>
    <h3>No posts</h3>
  <% end %>
</div>
