<footer style= "background-color: #f0f0f0; padding-bottom:0.3em; padding-top:0.3rem;">
  <sl-divider style="--width: 4px;"></sl-divider>
  <p style= "text-align: center; font-size: 1.6em">Build with <a href="http://blogonrails.org" target="_blank">Blog on Rails</a></p>
</footer>
