<header>
  <%= render 'layouts/admin_menu' %>
  <% if Setting.any? %>
    <h1><%= Setting.first.blog_title %></h1>
    <div><%= Setting.first.blog_sub_title %></div>
  <% else %>
    <h1>Your new blog</h1>
    <div>You can modify this in settings</div>
  <% end %>
  <%= render 'layouts/menu' %>
</header>
